@font-face {
    font-family: 'Astoria Extra Bold';
    src: url('./fonts/AstoriaExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
}

